@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   background-color: #f3f5f9;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 220px;
  height: 100%;
  background: #293133;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 13.4px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}

.wrapper .sidebar ul li a{
  color: #f3f5f9;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #f3f5f9;
}

.wrapper .sidebar ul li:hover a{
  color: #000;
}

.wrapper .sidebar .social_media{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
  left: 30px;
}

@media (max-height: 500px){
  .social_media{
    display: none !important;
  }
}
.img-james {
  width: 250px;
  position: sticky;
  top: 200px;
  bottom: 50px;
  right: 0px;
  left: 170px;
}
 .img-Marc .img-Erich {
  width: 350px;
  position: sticky;
  top: 200px;
  bottom: 45px;
  right: 0px;
  left: 170px;

}
.img-Karlheinz {
  width: 350px;
  position: sticky;
  top: 200px;
  bottom: 45px;
  right: 0px;
  left: 170px;
}
.img-linus {
  width: 350px;
  position: sticky;
  top: 150px;
  bottom: 60px;
  right: 0px;
  left: 170px;
}
.img-mark {
  width: 300px;
  height: 330px;
  position: sticky;
  top: 150px;
  bottom: 20px;
  right: 0px;
  left: 170px;
}
.img-sir {
  width: 350px;
  position: sticky;
  top: 150px;
  bottom: 20px;
  right: 0px;
  left: 170px;
}
 .img-wang .img-andrew {
  width: 350px;
  position: sticky;
  top: 150px;
  bottom: 20px;
  right: 0px;
  left: 170px;
}
.img-richard {
  width: 350px;
  position: sticky;
  top: 150px;
  bottom: 20px;
  right: 0px;
  left: 170px;
}
